---
layout: default
---
<div class="container">

	{% assign first = paginator.posts | first %}

	<div class="row">
		<div class="col-sm-12">
			<a href="{{ first.url }}" class="hero" style="background-image: url('{{ first.image }}');" rel="{{ first.title }}"></a>
			{% for post in paginator.posts %}
				{% if forloop.first == true %}
					{% include post/summary.html post=post %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 post-list">
			{% for post in paginator.posts %}
				{% if forloop.first != true %}
					{% include post/summary.html post=post %}
				{% endif %}
			{% endfor %}
		</div>
			
		<div class="col-sm-3 sidebar">
			<h3>Stay up to date</h3>

			<div class="box">
				<a href="http://twitter.com/_jungleskipper" target="_blank" class="item social"><span class="twitter"></span>@_jungleskipper</a>
				<a href="https://www.instagram.com/_jungleskipper/" target="_blank" class="item social"><span class="instagram"></span>@_jungleskipper</a>
				<a href="https://www.facebook.com/thejungleskipper" target="_blank" class="item social"><span class="facebook"></span>@thejungleskipper</a>
				<a href="/feed.xml" target="_blank" class="item social"><span class="rss"></span>RSS Feed</a>
				<div class="fill">
					<h3>Newsletter</h3>
					<p>Signup to our Newsletter for updates when we post something new. We promise not to spam you.</p>

					<!-- Begin MailChimp Signup Form -->
					<form action="https://jungleskipper.us16.list-manage.com/subscribe/post?u=65d35703cca4c8c9cd8e590ad&amp;id=130b4e22f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
					</form>
				</div>
			</div>

			<h3>Latest in the Blog</h3>

			{% for post in site.categories.blog limit:1 %}
				<div class="blog-post">
					<div class="main-image">
						<a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
					</div>
					<h3>{{post.title}}</h3>
					<p>{{ post.content | strip_html | truncatewords: 20 }}</p>
					<a href="{{ post.url }}" class="large">Read More &rarr;</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
