---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="hero">
				{% for post in paginator.posts %}
					{% if forloop.first == true %}
						{% include post/summary.html post=post %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-xs-12 post-list">
			{% for post in paginator.posts %}
				{% if forloop.first != true %}
					{% include post/summary.html post=post %}
				{% endif %}
			{% endfor %}

			<!-- Pagination links -->
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
				{% else %}
					<span class="previous">Previous</span>
				{% endif %}
				<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
				{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path }}" class="next">Next</a>
				{% else %}
				<span class="next ">Next</span>
				{% endif %}
			</div>
		</div>
			
		<div class="col-md-3 col-xs-12 sidebar">
			<h3>Stay up to date</h3>

			<div class="box">
				<a href="http://twitter.com/_jungleskipper" target="_blank" class="item social"><span class="twitter"></span>@_jungleskipper</a>
				<a href="https://www.instagram.com/_jungleskipper/" target="_blank" class="item social"><span class="instagram"></span>@_jungleskipper</a>
				<a href="https://www.facebook.com/thejungleskipper" target="_blank" class="item social"><span class="facebook"></span>@thejungleskipper</a>
				<a href="/feed.xml" target="_blank" class="item social"><span class="rss"></span>RSS Feed</a>
				<div class="fill">
					<h3>Newsletter</h3>
					<p>Signup to our Newsletter for updates when we post something new. We promise not to spam you.</p>

					<!-- Begin MailChimp Signup Form -->
					<form action="https://jungleskipper.us16.list-manage.com/subscribe/post?u=65d35703cca4c8c9cd8e590ad&amp;id=130b4e22f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
