<div itemscope itemtype="http://schema.org/ImageGallery" class="gallery">
	{% for image in include.gallery limit:1 %}
	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="first" pid="{{ image.alt | slugify }}-a{{ forloop.index }}">
		<a href="{{ image.image }}" itemprop="contentUrl">
			<img src="{{ image.image }}" alt="{{ image.alt }}" />
			<figcaption itemprop="caption description">
				{{ image.alt }} <br/>
				<small>
					Source -
				{% if image.source_link %}
					<a href="{{ image.source_link }}" target="_blank" rel="nofollow">{{ image.source }}</a>
				{% else %}
					{{ image.source }}
				{% endif %}
				</small>
			</figcaption>
		</a>
	</figure>
	{% endfor %}

	{% for image in include.gallery offset:1 limit:3 %}
	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" pid="{{ image.alt | slugify }}-b{{ forloop.index }}">
		<a href="{{ image.image }}" itemprop="contentUrl">
			<img src="{{ image.thumbnail }}" itemprop="thumbnail" alt="{{ image.alt }}" />
			<figcaption itemprop="caption description">
				{{ image.alt }} <br/>
				<small>
					Source -
				{% if image.source_link %}
					<a href="{{ image.source_link }}" target="_blank" rel="nofollow">{{ image.source }}</a>
				{% else %}
					{{ image.source }}
				{% endif %}
				</small>
			</figcaption>
		</a>
	</figure>
	{% endfor %}

	{% if include.gallery.size > 4 %}
		<a class="additional" href="#">View {{ include.gallery | size | minus: 4 }} more ...</a>
		{% for image in include.gallery.pictures offset:4 %}
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="display: none;" pid="{{ image.alt | slugify }}-c{{ forloop.index }}">
	        <a href="{{ image.image }}" itemprop="contentUrl">
	            <figcaption itemprop="caption description">
				{{ image.alt }} <br/>
				<small>
					Source -
				{% if image.source_link %}
					<a href="{{ image.source_link }}" target="_blank" rel="nofollow">{{ image.source }}</a>
				{% else %}
					{{ image.source }}
				{% endif %}
				</small>
				</figcaption>
	        </a>
	    </figure>
		{% endfor %}
	{% endif %}
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="pswp__bg"></div>
	<div class="pswp__scroll-wrap">
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<div class="pswp__counter"></div>
				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
				<button class="pswp__button pswp__button--share" title="Share"></button>
				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
					  <div class="pswp__preloader__cut">
						<div class="pswp__preloader__donut"></div>
					  </div>
					</div>
				</div>
			</div>

			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div> 
			</div>

			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
			</button>

			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
			</button>

			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>