<header class="main">
	
	<div class="container">
		<div id="logo">
			<!--<div class="search">
				<input type="text" id="search" />
				<button>Search</button>
			</div>-->
			<a href="/" rel="Home">
				{% include logo.html %}
			</a>
			<div class="medal d-none d-md-block"></div>
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="/" class="{% if page.url == '/' %}selected{% endif %}">Home</a></li>
			<li><a href="/news" class="{% if page.url contains '/news' %}selected{% endif %}">News</a></li>
			<li><a href="/sea/members" class="{% if page.url contains '/members' %}selected{% endif %}">Members</a></li>
			<li><a href="/sea/attractions" class="{% if page.url contains '/attractions' %}selected{% endif %}">Attractions</a></li>
		</ul>
	</nav>
</header>