<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- SEO stuff -->
	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% else %}
		<meta name="description" content="{{ page.content | strip_html | truncatewords: 25 }}">
	{% endif %}

	<!-- twitter card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://jungleskipper.com{{ page.url }}">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:site" content="_jungleskipper">
	<meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 25 }} ">
	{% if page.twitterimage %}
	<meta name="twitter:image" content="{{page.twitterimage}}">
	{% endif %}

	{% if page.keywords %}
	    <meta name="keywords" content="{{ page.keywords }}">
	{% else if page.tags %}
	    <meta name="keywords" content="{{ page.tags | join: ',' }}">
	{% else %}
	    <meta name="keywords" content="Theme park, Disney World, Disneyland"> 
	{% endif %}

	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,400,400i,700|Playfair+Display:400,400i" rel="stylesheet">

	<link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
	<link rel="stylesheet" href="{{ site.baseurl }}css/jungleskipper.css">
	<link rel="alternate" type="application/rss+xml" title="Jungle Skipper" href="{{ site.baseurl }}rss.xml">
	<link rel="canonical" href="{{ page.url }}">
</head>