<div class="sidebar post">
	<h3 class="aside">Share this article</h3>
	<!-- Twitter -->
	<a class="twitter no-hover" href="https://twitter.com/intent/tweet?text={{ site.domain_name }}{{ page.url }} - {{page.title}} by @{{ site.authorTwitter }}">
		Tweet
	</a>
	
	<!-- Facebook -->
	<a class="facebook no-hover" href="#" onclick="
	    window.open(
	      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{page.url}}'),
	      'facebook-share-dialog',
	      'width=626,height=436');
	    return false;">Share
	</a>
	
	{% if page.reddit %}
	<!-- Reddit -->
	<a class="reddit no-hover" href="//www.reddit.com/submit" onclick="
		window.location='//www.reddit.com/r/{{page.reddit}}/submit?url=' + encodeURIComponent('{{page.url}}');
		return false;
	">
		Reddit
	</a>
	{% endif %}

	<div class="fill">
		<h3>Newsletter</h3>
		<p>Signup to the newsletter for updates when we post something new.</p>

		<!-- Begin MailChimp Signup Form -->
		<form action="https://jungleskipper.us16.list-manage.com/subscribe/post?u=65d35703cca4c8c9cd8e590ad&amp;id=130b4e22f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
		</form>
	</div>

</div>