<div class="col-md-3 col-xs-12">
	<div class="sidebar page">
		<h3>Stay up to date</h3>
		<a href="http://twitter.com/_jungleskipper" target="_blank" class="twitter">@_jungleskipper</a>
		<a href="https://www.instagram.com/_jungleskipper/" target="_blank" class="instagram">@_jungleskipper</a>
		<a href="https://www.facebook.com/thejungleskipper" target="_blank" class="facebook">@thejungleskipper</a>
		<a href="/feed.xml" target="_blank" class="feed">RSS Feed</a>
		<div class="fill">
			<h3>Newsletter</h3>
			<p>Signup to our Newsletter for updates when we post something new. We promise not to spam you.</p>

			<!-- Begin MailChimp Signup Form -->
			<form action="https://jungleskipper.us16.list-manage.com/subscribe/post?u=65d35703cca4c8c9cd8e590ad&amp;id=130b4e22f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
			</form>
		</div>
	</div>
</div>