<div class="col-md-3 col-xs-12">
	<div class="sidebar page">
		<div class="fill">
			<h3>Newsletter</h3>
			<p>Signup to the newsletter for updates when we post something new.</p>

			<!-- Begin MailChimp Signup Form -->
			<form action="https://jungleskipper.us16.list-manage.com/subscribe/post?u=65d35703cca4c8c9cd8e590ad&amp;id=130b4e22f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
			</form>
		</div>
	</div>
</div>