.leaves {
	position: absolute;
	height: 57.5px;
	width: 50px;
	background-size: cover;


	&.left {
		background-image: url('/assets/images/leaves-left.png');
		left: 0px;
		top: 0px;
	}

	&.right {
		background-image: url('/assets/images/leaves-right.png');
		right: 0;
		top: 0;
	}

	@include media-breakpoint-up(sm) {
		height: 115px;
		width: 100px;
	}
}

header {
	#logo {
		text-align: center;

		a {
			background-image: url('/assets/images/jungle-skipper-mobile.png');
			background-size: cover;
			height: 30px;
			display: inline-block;
			overflow: hidden;
			text-indent: -900px;
			width: 181px;
			margin: 34px 0px 0 8px;

			@include media-breakpoint-up(sm) {
				background-image: url('/assets/images/jungle-skipper.png');
				height: 140px;
				width: 208px;
			}
		}

		span.tagline {
			font-style: italic;
			font-weight: 100;
			color: #A0A0A0;
			display: block;
			margin: 10px 0;
			height: 40px;
			line-height: 40px;
		}
	}

	nav {
		display: block;
		overflow: hidden;
		margin: 0 auto;

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 20px 0;
			text-align: center;

			li {
				display: inline-block;

				a {
					@include poppins;
					color: #676767;
					display: block;
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;
					padding: 10px;
				}

				&:first-child a {
					padding-left: 0;
				}

				&:last-child a {
					padding-right: 0;
				}

				@include media-breakpoint-up(sm) {
					a {
						font-size: 18px;
						line-height: 18px;
						padding: 20px;
						position: relative;
						letter-spacing: 3px;

						&:hover {
							color: #EF674E;
							text-decoration: none;
						}

						&.selected {
							background: url('/assets/images/menu-selected.png') no-repeat right 45px;
						}
					}

					&:first-child a {
						padding-left: 20px;
					}

					&:last-child a {
						padding-right: 20px;
					}
				}
			}


			

			/*
			li {
				display: inline-block;
				ul {
					background: #fff;
					position: absolute;
					top: 180px;
					display: none;
					z-index: 99;
					width: 330px;
					padding: 10px 0;

					a {
						text-align: left;
						padding: 10px 20px;
					}
				}

				&:hover ul {
					display: block;
					li {
						display: block;
					}
				}

				a {
					@include poppins;
					color: #676767;
					display: block;
					font-size: 18px;
					line-height: 18px;
					padding: 20px;
					position: relative;
					letter-spacing: 3px;
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;

					&:hover {
						color: #EF674E;
						text-decoration: none;
					}

					&.selected {
						background: url('/assets/images/menu-selected.png') no-repeat right 45px;
					}
				}
				
			}*/
		}
	}	
}