header {
	.title {

		border-bottom: 1px solid #EFEFEF;

		// svg animation
		svg {
			display: block;
			margin: 30px auto 10px;
			width: 250px;

			// we hide the SVG for mobile users
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}

		// main title text
		a {
			@include lato;
			color: #4D4D4D;
			font-size: 24px;
			text-decoration: none;
			text-align: center;
			margin: 0 auto 30px auto;
			display: block;
			width: 250px;

			@include media-breakpoint-down(xs) {
				// shrinks a bit for mobile users
				font-size: 20px;
			}
		}
	}

	// main menu
	.nav {
		display: block;
		overflow: hidden;
		margin: 0 auto;
		width: 574px;

		.desktop {
			a {
				@include poppins;
				color: #4D4D4D;
				display: block;
				float: left;
				font-size: 18px;
				line-height: 18px;
				padding: 30px 20px 25px;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;

				&.selected {
					border-bottom: 2px solid #EF674E;
				}

				&::before {
					border-bottom: 2px solid #EF674E;
					bottom: -2px;
					left: 0;
				}
			}
		}

		nav {
			// hidden for mobile users
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}

		.mobile-nav {
			background: $mobile-nav-background;
			color: $mobile-nav-foreground;
			position: fixed;
			top: 60px;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1000;
			overflow-y: auto;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 0 15px;
					border-bottom: 1px solid $horizontal-line; 

					.title {
						font-family: Poppins-Regular;
						font-size: 18px;
						letter-spacing: 3px;
						line-height: 65px;
						font-weight: 300;
						text-transform: uppercase;
						border-bottom: 0;
					}

					.text {
						max-height: 80px;
						overflow: hidden;
						margin: 0 -15px 30px -15px;

						a.image {
							background-position: center;
							background-size: cover;
							height: 80px;
							width: 100%;
							display: block;
							margin-bottom: 15px;
							cursor: pointer;
						}

						a.post-link {
							color: $mobile-nav-foreground;
							font-weight: bold;
							display: block;
							font-size: 14px;
							line-height: 1.5em;
							margin-bottom: 5px;
						}

						p {
							font-family: 'Open Sans';
							font-size: 12px;
							letter-spacing: 0;
							line-height: 1.5em;
						}
				}
				}
			}
		}
	}
}


