body {
	padding: 0;
	margin: 0;
}

header.main {
	width: 100%;

	@include media-breakpoint-down(xs) { 
		border-bottom: 0;
	}

	.title {
		border-bottom: 1px solid #EEEEEE;

		svg {
			display: block;
			margin: 30px auto 10px;
			width: 250px;
		}

		a {
			@include lato;
			color: #4D4D4D;
			font-size: 24px;
			text-decoration: none;
			text-align: center;
			margin: 0 auto 30px auto;
			display: block;
			width: 250px;

			&::before {
				display: none;
			}
		}
	}

	nav {
		display: block;
		overflow: hidden;
		margin: 0 auto;

		#menu {
			display: none;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline-block;
				ul {
					background: #fff;
					position: absolute;
					top: 180px;
					display: none;
					z-index: 99;
					width: 330px;
					padding: 10px 0;

					a {
						text-align: left;
						padding: 10px 20px;
					}
				}

				&:hover ul {
					display: block;
					li {
						display: block;
					}
				}
			}
		}

		@include media-breakpoint-down(sm) {

							margin-bottom: 20px;

			#menu {
				display: block;
				border: 1px solid #EEE;
				border-top: 0;
				@include poppins;
				color: #4D4D4D;
				display: block;
				font-size: 18px;
				line-height: 18px;
				padding: 20px 20px 20px 20px;
				position: relative;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				cursor: pointer;
			}

			ul {
				a {
					text-align: left;
					padding: 20px;
					border-bottom: 1px solid #EEE;
				}
			}

			& > ul {
				background: #fff;
				display: none;
				border: 1px solid #EEE;
				border-top: 0;
				border-bottom: 0;
				width: auto;

				li {
					display: block;

					& > ul {
						position: static;
						display: block;
						li {
							display: block;
						}
					}
				}
			}
		}
		

		a {
			@include poppins;
			color: #4D4D4D;
			display: block;
			font-size: 18px;
			line-height: 18px;
			padding: 30px 20px 30px 20px;
			position: relative;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;

			&:hover {
				color: #EF674E;
			}

			&.selected {
				color: #EF674E;
				// background: url('/assets/images/menu-selected.png') no-repeat right 55px;
			}
		}
	}
}

.hero {

	border-bottom: 1px solid #EEE;
	margin-bottom: 30px;
	line-height: 1.5em;

	h1 {
		margin-bottom: 10px;
	}

	h5 {
		margin-top: 20px;
	}

	img {
		width: 100%;
		object-fit: cover;
		max-height: 650px;
	}
}

.post-list {
	

	.row {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h5 {
		font-size: 10px;
		margin-bottom: 10px;
		letter-spacing: 1px;
	}

	h3 {
		font-size: 24px;
	}

	a img {
		background-position: center;
		background-size: cover;
		width: 100%;
		display: block;
		margin-bottom: 15px;
		cursor: pointer;
	}

	p {
		line-height: 1.5em;
	}
}

.about {
	margin-bottom: 60px;
	img {
		width: 100%;
	}
}

.btn {
	@include poppins;
	font-size: 14px;

	&:hover {
		cursor: pointer;
	}
}

footer {
	background: #F7F7F7;
	padding: 0px 0 20px;

	@include media-breakpoint-down(xs) {
		footer: 20px 0 20px;

		p {
			margin-bottom: 20px;
		}
	}

	.nav {
		margin-bottom: 60px;
		@include media-breakpoint-down(xs) {
			margin-bottom: 20px;
		}
	}

	a {
		color: #4D4D4D;
		&:hover {
			color: #4D4D4D !important;
		}
		&:hover:before {
			border-bottom-color: #4D4D4D;
		}
	}

	.right {
		text-align: right;
		@include media-breakpoint-down(xs) {
			text-align: center;
		}
	}

	.sub-footer {
		border-top: 1px solid #EEE;
		margin-top: 60px;
		padding-top: 20px;

		@include media-breakpoint-down(xs) {
			margin-top: 0px;
			text-align: center !important;
		}
	}
}