.pagination {

	border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: right;
    border-radius: 0;
    display: block;

	.page-number {
		display: inline-block;
		padding: 0 5px;
		margin: 0 5px;

		&:hover {

		}
	}


}