article {
	position: relative;

	img, iframe {
		width: 100%;
		object-fit: cover;
	}

	.twitter-tweet {
		text-align: center;
	}

	.video {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
		margin-bottom: 1rem;

		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}

	figure.image {
		margin: 1.5rem 0 1.5rem 0;
		img {
			width: 100%;
			object-fit: cover;
		}

		figcaption {
			border-left: 3px solid #D6CFAA;
			font-style: italic;
			font-weight: 300;
			padding: 10px;
		}
	}

	.edit {
		position: absolute;
		top: 0;
		left: -20px;
		width: 28px;
		height: 28px;
		background: #429671;
		border-radius: 14px;
		a {
			display: none;
		}

		&:hover {
			a {
				display: block;
				text-align: right;
				font-size: 12px;
				line-height: 24px;
				border-right: 1px solid #429671;
				width: 100px;
				margin-left: -85px;
				padding: 0 10px 0 0;
				color: #4D4D4D;

				&:hover {
					color: #4D4D4D;
				}

				&:first-child {
					padding-top: 28px;
				}
			}
		}

		
	}
}

.post-sidebar {
	padding-top: 20px;
}

section.image {
	margin: 0 0 60px;
	width: 100%;

	@include media-breakpoint-down(xs) {
		margin: 20px 0;
	}
}

section.related {
	margin-top: 32px;
	padding: 30px 30px 20px;
	border: 9px solid;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-image: url("/assets/images/map-border.png") 9 repeat;

	h4 {
		text-align: left;
		font-weight: bold;
		font-size: 26px;
		margin-bottom: 16px;
	}

	@include media-breakpoint-down(xs) {
		margin-top: 20px;
		padding: 20px;
	}

	ul {
		padding: 0;
		list-style: none;

		@include media-breakpoint-down(xs) {
			margin: 0;
		}

		li {

			h3 {
				font-size: 1.2em;
				margin-bottom: 20px;
				a {
					color: #292B2C;
				}
			}

			p {
				line-height: 20px;
			}

			a.image {
				background-position: center;
				background-size: cover;
				height: 240px;
				width: 100%;
				display: block;
				margin-bottom: 15px;
				cursor: pointer;
			}
		}
	}
}

section.comments {
	
	margin: 40px 0;
	@include media-breakpoint-down(xs) {
		margin: 20px 0;
	}

	ul {
		list-style: none;
		margin: 30px 0 0 0;
		padding: 0;

		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			border-radius: 60px;
			height: 60px;
			float: left;
			width: 60px;
		}

		.title {
			@include poppins;
			font-size: 18px;
			line-height: 28px;

			time {
				@include open-sans;
				color: #888888;
				font-size: 12px;
				font-weight: 300;
				font-style: italic;	
				line-height: 28px;
			}
		}

		.content {
			padding-left: 80px;
		}
	}

	.form-group {
		label {
			margin-bottom: 0;
		}
	}

	button {

	}
}