article {
	img, iframe {
		width: 100%;
	}

	a.large.previous {
		display: block;
		line-height: 16px;

		@include media-breakpoint-down(xs) {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	a.large.next {
		display: inline-block;
		float: right;

		@include media-breakpoint-down(xs) {
			float: none;
			text-align: center;
		}
	}

	.nsfm {
		position: relative;

		.blur {
			filter: blur(5px);
		}

		&::after {
			background: white;
			border-radius: 3px;
			content: "This is NSFM (Not Safe for Magic) - Click to reveal";
			padding: 20px;
			position: absolute;
			top: calc(50% - 41px);
			left: calc(50% - 130px);
			text-align: center;
			width: 260px;
			filter: none;
			line-height: 1.5em;
			cursor: pointer;
		}
	}

	.meta {
		border-top: 1px solid #F7F7F7;
		color: #BFBFBF;
		margin-top: 30px;
		padding-top: 30px;

		span {
			display: inline-block;
			width: 110px;
			color: #4D4D4D;
		}
	}
}

section.image {
	margin: 60px 0;
	width: 100%;

	@include media-breakpoint-down(xs) {
		margin: 20px 0;
	}
}

section.related {
	background: #F7F7F7;
	margin-top: 60px;
	padding: 60px;

	@include media-breakpoint-down(xs) {
		margin-top: 20px;
		padding: 20px;
	}

	ul {
		margin: 40px 0;
		padding: 0;
		list-style: none;

		@include media-breakpoint-down(xs) {
			margin: 0;
		}

		li {

			h5 {
				font-size: 10px;
				margin-bottom: 10px;
				letter-spacing: 1px;
			}

			h3 {
				font-size: 24px;
			}

			img {
				width: 100%;
				margin-bottom: 40px;
			}
		}
	}
}

section.comments {
	
	margin: 60px 0;
	@include media-breakpoint-down(xs) {
		margin: 20px 0;
	}

	ul {
		list-style: none;
		margin: 30px 0 0 0;
		padding: 0;

		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			border-radius: 60px;
			height: 60px;
			float: left;
			width: 60px;
		}

		.title {
			@include poppins;
			font-size: 18px;
			line-height: 28px;

			time {
				@include open-sans;
				color: #888888;
				font-size: 12px;
				font-weight: 300;
				font-style: italic;	
				line-height: 28px;
			}
		}

		.content {
			padding-left: 80px;
		}
	}

	.form-group {
		label {
			margin-bottom: 0;
		}
	}

	button {

	}
}

#sharing {
	display: block;
	margin: 48px 0;
	text-align: right;
	width: 100%;

	@include media-breakpoint-down(xs) {
		text-align: center;
		margin: 20px 0;
	}

	[class^="icon-"]:before, [class*=" icon-"]:before {
		font-family: "icons";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-right: 3px;
	}

	.icon-facebook:before { content: '\e802'; }
	.icon-facebook-squared:before { content: '\e800'; }
	.icon-twitter:before { content: '\e801'; }
	.icon-twitter-1:before { content: '\e804'; }
	.icon-facebook-circled:before { content: '\e805'; }
	.icon-twitter-circled:before { content: '\e806'; }
	.icon-facebook-rect:before { content: '\e803'; }


	a {
		font-size: 20px;
		font-size: 13px;
		color: #fff;
		padding: 6px 10px;
		border-radius: 4px;

		&:hover {
			opacity: 0.8;
			text-decoration: none;
		}

		&.facebook {
			background: #4361b3;
		}

		&.twitter {
			background: #4fafed;
		}
	}
}