article {
	img, iframe {
		width: 100%;
		object-fit: cover;
	}
	
	.meta {
		border-top: 1px solid #F7F7F7;
		color: #BFBFBF;
		margin-top: 30px;
		padding-top: 30px;

		span {
			display: inline-block;
			width: 110px;
			color: #4D4D4D;
		}
	}

	.twitter-tweet {
		text-align: center;
	}

	.top-tip, .fun-fact {
		@include open-sans;
		font-size: 18px;
		font-style: italic;
		font-weight: 300;
		border-left: 3px solid #EF674E;
		margin: 30px 0;
		padding: 40px 0 10px 30px;
		position: relative;

		&::after {
			background: #EF674E;
			display: block;
			top: 0;
			left: 0;
			position: absolute;
			padding: 0 10px;
			color: #fff;
			font-size: 11px;
			@include lato;
		}
	}

	.top-tip::after {
		content: "Tip";
	}

	.fun-fact::after {
		content: "Trivia";
	}

	.video {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
		margin-bottom: 1rem;

		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}

.post-sidebar {
	padding-top: 20px;
}

section.image {
	margin: 0 0 60px;
	width: 100%;

	@include media-breakpoint-down(xs) {
		margin: 20px 0;
	}
}

section.related {
	margin-top: 60px;
	padding: 60px;
	border: 9px solid;
	border-left: 0;
	border-right: 0;
	border-image: url("/assets/images/map-border.png") 9 repeat;

	h4 {
		text-align: left;
		font-weight: bold;
		font-size: 26px;
	}

	@include media-breakpoint-down(xs) {
		margin-top: 20px;
		padding: 20px;
	}

	ul {
		margin: 40px 0;
		padding: 0;
		list-style: none;

		@include media-breakpoint-down(xs) {
			margin: 0;
		}

		li {

			h5 {
				font-size: 10px;
				margin-bottom: 10px;
				letter-spacing: 1px;
			}

			h3 {
				font-size: 24px;
			}

			a.image {
				background-position: center;
				background-size: cover;
				height: 240px;
				width: 100%;
				display: block;
				margin-bottom: 15px;
				cursor: pointer;
			}
		}
	}
}

section.comments {
	
	margin: 40px 0;
	@include media-breakpoint-down(xs) {
		margin: 20px 0;
	}

	ul {
		list-style: none;
		margin: 30px 0 0 0;
		padding: 0;

		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			border-radius: 60px;
			height: 60px;
			float: left;
			width: 60px;
		}

		.title {
			@include poppins;
			font-size: 18px;
			line-height: 28px;

			time {
				@include open-sans;
				color: #888888;
				font-size: 12px;
				font-weight: 300;
				font-style: italic;	
				line-height: 28px;
			}
		}

		.content {
			padding-left: 80px;
		}
	}

	.form-group {
		label {
			margin-bottom: 0;
		}
	}

	button {

	}
}