.sidebar {

	border: 1px solid #EFEFEF;
	padding: 20px;
	position: sticky;
	top: 10px;

	h3 {
		margin-bottom: 10px;
	}

	a {
		background: url('/assets/images/share2.png') no-repeat;
		display: block;
		font-size: 20px;
		font-size: 16px;
		color: #fff;
		padding: 6px 10px 6px 40px;
		border-radius: 4px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			opacity: 0.8;
			text-decoration: none;
		}

		&.facebook {
			background-color: #4361b3;
			background-position: 10px 11px;
		}

		&.twitter {
			background-color: #4fafed;
			background-position: 10px -39px;
		}

		&.reddit {
			background-color: #FF4500;
			background-position: 10px -90px;
		}

		&.instagram {
			background:
			    // left bottom
			    radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
			    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
			    // left top
			    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
			    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
			    //  right top
			    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
			    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
			    // right bottom
			    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

			    /////// create a base coat to smooth
			    /////// corner gradients
			    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%),
				background-position: 10px -90px;
		}

		&.feed {
			background-color: #FF4500;
			background-position: 10px -90px;
		}
	}

	.fill {
		background: #EFEFEF;
		margin: -20px;
		padding: 20px;

	}
}