@mixin open-sans {
	font-family: 'Open Sans', sans-serif;
}

@mixin poppins {
	font-family: 'Poppins', sans-serif;
}

@mixin lato {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

body {
	@include open-sans;
	color: #4D4D4D;
	font-size: 16px;
	line-height: 2em;
}

a {
	color: #EF674E;
	
	&:hover {
		color: #EF674E;
		text-decoration: underlined;
	}
}

h1 {
	@include poppins;
	font-size: 48px;
	font-weight: bold;
	line-height: 1.25em;
	margin-bottom: 0px;

	a {
		color: #4D4D4D;
		&:hover {
			color: #EF674E;
			text-decoration: none;
		}
		&:hover::before {
			width: 0;
		}
	}

	@include media-breakpoint-down(xs) {
		font-size: 24px;
	}
}

h2 {
	@include poppins;
	font-size: 18px;
	font-weight: 600;
	line-height: 48px;
	margin: 30px 0 0 0;

	&.super {
		font-size: 100px;
		text-align: center;
	}
}

// Secondary section headings
h3 {
	@include poppins;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5em;

	a {
		color: #4D4D4D;
		&:hover {
			color: #EF674E;
			text-decoration: none;
		}
		&:hover::before {
			width: 0;
		}
	}
}

h3.aside {
	font-size: 20px;
}

// major section headings
h4 {
	@include lato;
	font-size: 24px;
	text-align: center;
}

// h5 is the post category
h5 {
	@include lato;
	color: #BFBFBF;
	font-size: 13px;
	margin: 0 0 10px 0;

	a, span {
		color: #BFBFBF;
	}

	@include media-breakpoint-down(xs) {
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 1px;
	}
}

h6 {
	@include poppins;
	font-size: 18px;
	font-weight: 600;
}

blockquote {
	@include open-sans;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	border-left: 3px solid #EF674E;
	margin: 30px 0;
	padding: 10px 0 10px 30px;
}
