@mixin open-sans {
	font-family: 'Open Sans', sans-serif;
}

@mixin poppins {
	font-family: 'Poppins', sans-serif;
}

@mixin lato {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

/* social media Icons */
@font-face {
	font-family: 'icons';
	src: url('/fonts/icons.eot');
	src: url('/fonts/icons.eot#iefix') format('embedded-opentype'),
	url('/fonts/icons.woff') format('woff'),
	url('/fonts/icons.ttf') format('truetype'),
	url('/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	@include open-sans;
	color: #4D4D4D;
	font-size: 14px;
	line-height: 2em;
}

h1 {
	@include poppins;
	font-size: 48px;
	font-weight: bold;
	line-height: 1.25em;
	margin-bottom: 20px;

	a {
		color: #4D4D4D;
		&:hover {
			color: #4D4D4D;
		}
		&:hover::before {
			width: 0;
		}
	}
}

h2 {
	@include poppins;
	font-size: 18px;
	font-weight: 600;
	line-height: 48px;
	margin: 30px 0 0 0;

	&.super {
		font-size: 100px;
		text-align: center;
	}
}

// Secondary section headings
h3 {
	@include poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.25em;

	a {
		color: #4D4D4D;
		&:hover {
			color: #4D4D4D;
		}
		&:hover::before {
			width: 0;
		}
	}
}

.sidebar h3 {
	font-size: 20px;
}

// major section headings
h4 {
	@include lato;
	font-size: 24px;
	text-align: center;
}

// h5 is the post category
h5 {
	@include lato;
	color: #BFBFBF;
	font-size: 13px;
	margin: 0 0 10px 0;

	a {
		color: #BFBFBF;
	}
}

h6 {
	@include poppins;
	font-size: 18px;
	font-weight: 600;
}

a {
	color: #EF674E;
	text-decoration: none;
	position: relative;

	&:hover {
		color: #EF674E;
		text-decoration: none;
	}
	&:focus {
		opacity: 0.5;
	}

	&::before {
		content: '';
		width: 0;
		bottom: 0;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		border-bottom: 1px solid #EF674E;
		transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	&:hover::before {
		width: 100%;
	}

	&.large {
		@include poppins;
		font-size: 18px;
		font-weight: 600;
	}

	&.image {
		&::before {
			display: none;
		}
	}
}

blockquote {
	@include open-sans;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	border-left: 3px solid #EF674E;
	margin: 30px 0;
	padding: 10px 0 10px 30px;
}
