$base-color: #87C4C8 !default;
$base-font-color: #242424 !default;
$base-font-family: 'Open Sans', sans-serif !default;
$secondary-font-family: 'Lato', sans-serif !default;

$secondary-color: #EF674E !default;

$light-grey: #EFEFEF !default;

$link-color: $base-color !default;
$link-hover-color: $secondary-color !default;