$text-color: #4D4D4D !default;

$horizontal-line: #EFEFEF !default;


$btn-primary-color: #FFF !default;
$btn-primary-bg: #EF674E !default;

$btn-border-radius: 3px;

$mobile-nav-background: #FFF;
$mobile-nav-foreground: $text-color;

$gold: #9F9764;

