<div class="hero">
	<div class="post-list-item row">
		<div class="image col-sm-12">
			<a href="{{ post.url }}" class="image"><img data-image="{{ post.image }}" src="{{post.image}}" alt="{{ post.title }}" /></a>
		</div>
		<div class="info col-sm-12">
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<p> 
				{% if post.description %}
					{{ post.description }}
				{% else %}
					{{ post.content | strip_html | truncatewords: 60 }}
				{% endif %}
			</p>
			<p>
				<a href="{{ post.url }}" class="large">Read Article &rarr;</a>
			</p>
		</div>
	</div>
</div>