---
layout: default
---

{% assign members = site.members %}

<div class="member-list">
	<div class="container">
		<div class="row">
			<h2>Confirmed Members</h2>
		</div>
		<div class="row">
			{% for member in members %}
				{% unless member.membership == 'Confirmed' %}
					{% continue %}
				{% endunless %}
				<div class="col-6 col-md-4 col-lg-3 member">
					<div class="wrap">
						<a href="{{ member.url }}" class="image"><img src="{{member.portrait}}" alt="{{ member.name }}" /></a>
					</div>
					<h3><a href="{{ member.url }}">{{ member.name }}</a></h3>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<h2>Associated Members</h2>
		</div>
		<div class="row">
			{% for member in members %}
				{% if member.membership == 'Confirmed' %}
					{% continue %}
				{% endif %}
				<div class="col-6 col-md-4 col-lg-3 member">
					<div class="wrap">
						<a href="{{ member.url }}" class="image"><img src="{{member.portrait}}" alt="{{ member.name }}" /></a>
					</div>
					<h3><a href="{{ member.url }}">{{ member.name }}</a></h3>
				</div>
			{% endfor %}
		</div>
	</div>
</div>