---
layout: default
---

<article class="container">
	<div class="row">
		<section class="image col-md-12">
			<img src="{{page.image}}" alt="{{page.title}}" />
		</section>
	</div>

	<div class="row">
		<div class="col-md-1">
			{% if page.previous.url %}
				<a class="large previous" href="{{page.previous.url}}">&larr;</a>
			{% endif %}
		</div>
		<section class="content col-md-7">
			<h5>
				<a href="/{{ page.categories | first }}">{{ page.categories | first }}</a>
			</h5>
			<h1>{{ page.title | replace: 'Review', '' }}</h1>

			{% if page.tags contains 'nsfm' %}
				<p><em>This article has been tagged `nsfm` (not safe for magic) and normally reviles something behind the scences.</em></p>
			{% endif %}


			{{content}}

			{% include share.html %}

			<div class="meta">
				<span>First Published</span> {{ page.date | date_to_long_string }} <br/>
				{% if page.tags.size > 0 %}
					<span>Tagged With</span> 
					{% include tag-list.html tags=page.tags %}
				{% endif %}
			</div>
		</section>
		<div class="offset-md-1 col-md-3">
			{% if page.next.url %}
				<a class="large next" data-text="Next Article &rarr;" data-title="{{ page.next.title }}" data-image="{{ page.next.image }}" data-blurb="{{ page.next.content | strip_html | truncatewords: 20 }}" href="{{page.next.url}}">Next Article &rarr;</a>
			{% endif %}

			<div class="sidebar">
			
			<h3>Stay up to date</h3>

			<div class="box">
				<a href="http://twitter.com/_jungleskipper" target="_blank" class="item social"><span class="twitter"></span>@_jungleskipper</a>
				<a href="https://www.instagram.com/_jungleskipper/" target="_blank" class="item social"><span class="instagram"></span>@_jungleskipper</a>
				<a href="https://www.facebook.com/thejungleskipper" target="_blank" class="item social"><span class="facebook"></span>@thejungleskipper</a>
				<a href="/feed.xml" target="_blank" class="item social"><span class="rss"></span>RSS Feed</a>
				<div class="fill">
					<h3>Newsletter</h3>
					<p>Signup to our Newsletter for updates when we post something new. We promise not to spam you.</p>
					<form action="//emailoctopus.com/lists/4a423829-713e-11e7-a9b5-026662568990/members/external-add" method="post" target="_blank" novalidate>
						<input type="email" value="" name="emailAddress" class="required email form-control" id="mce-EMAIL" placeholder="Email Address" >
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="hp4a423829-713e-11e7-a9b5-026662568990" tabindex="-1" value=""></div>
			    		<input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="https://jungleskipper.com/thankyou/newsletter">
			    		<input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
					</form>
				</div>
			</div>
			</div>
		</div>
	</div>
</article>

<section class="related">
	<div class="container">
		<h4>Related Posts</h4>
		<ul class="row">
		{% for post in site.related_posts limit:3 %}
			<li class="col-sm-4">
				<div class="main-image">
					<a href="{{ post.url }}" class="image" style="background-image: url('{{ post.image }}');"></a>
				</div>
				<h5>{{ post.categories | first }}</h5>
				<h3>{{ post.title | replace: 'Review', '' }}</h3>
				<p> 
					{% if post.description %}
						{{ post.description }}
					{% else %}
						{{ post.content | strip_html | truncatewords: 20 }}
					{% endif %}
				</p>
				<p>
					<a href="{{ post.url }}" class="large">Read Article &rarr;</a>
				</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</section>

<section class="comments">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-sm-5">

				<h3>Comments</h3>

				{% if site.data.comments[page.slug] %}
					{% assign comments = site.data.comments[page.slug] | sort %}
					<ul>
					{% for comment in comments %}
						<li>
							<img src="//www.gravatar.com/avatar/{{ comment[1].email }}?d=https%3A%2F%2Fjungleskipper.com%2Fimages%2Favatar.png&s=60" alt="Avatar" />
							<div class="content">
								<div class="title">
									{{ comment[1].name }} 
									&middot; 
									<time datetime="{{ comment[1].date | date_to_xmlschema }}" itemprop="datePublished">
										{{ comment[1].date | date: "%B %d, %Y at %I:%M %p" }}
									</time>
								</div>

								<div class="message">
									{{ comment[1].message }}
								</div>
							</div>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<p>No comments yet.</p>
				{% endif %}

			</div>
			<div class="offset-sm-1 col-sm-5">
				<h3>Join the conversation</h3>
				<form method="POST" action="https://api.staticman.net/v2/entry/dtsn/jungleskipper/master/comments">
					<input name="options[redirect]" type="hidden" value="https://jungleskipper.com/thankyou/comment">
					<input name="options[slug]" type="hidden" value="{{ page.slug }}">

						<div class="row">
							<div class="form-group col-sm-6">
								<label for="name">Name</label>
								<input name="fields[name]" type="text" id="name" class="form-control" placeholder="e.g. Albert Awol">
							</div>

							<div class="form-group col-sm-6">
								<label for="email">Email</label>
								<input name="fields[email]" type="email" id="email" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label for="comment">Comment</label>
								<textarea name="fields[message]" id="comment" class="form-control"></textarea>
							</div>
						</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>



